@charset "UTF-8";   

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

@media (max-width: 700px) {
    header{
        flex-direction: column;
    }

    header img{
        margin-bottom: 15px;
    }

    section.hero > h1{
        font-size: 2rem;
        padding: 5px;
        
    }

    section.hero h3{
        font-size: 1rem;
        padding: 5px;
        
    }

    section.hero .btn{
       padding: 10px;
       font-size: 1rem;
    }

    .conheca .grid li.small, .conheca .grid li.large{
        flex-basis: 100%;

    }
        
    


   
}

* {                
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: var(--fonte1);
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

:root {
    --fonte1: 'Open Sans', sans-serif;
}

body {
    font-family: var(--fonte1);
}

/* HEADER */    

header {
    display: flex;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header img {
    width: 200px;
}

header nav {
    display: flex;
}

header li a {
    color: #191c03;

}

header li{
    margin: 0px 15px;
}

header li:first-child{
    margin-left: 0px;
}

header li:last-child{
    margin-right: 0px;
}





/* HERO */

.hero{
    background-image: url(../img/hero.jpg);
    background-size: cover;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1{
    font-size: 3.2rem;
    margin-bottom: 15px;
}

.hero h3{
    font-size: 2rem;
    margin-bottom: 15px;
}

.hero .btn{
    background-color: white;
    border-radius: 4px;
    color: #191c03;
    padding: 20px 50px;
    text-transform: uppercase;
}

/* CONHEÇA */

.conheca{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.conheca h3{
    font-size: 2rem;
    margin-bottom: 35px;
}

.conheca p{
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
}

.conheca hr{
    width: 200px;
    height: 2px;
    background-color: #191c03;
    margin-bottom: 70px;
    border: none;
}

.conheca .grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.conheca .grid li{
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.conheca .grid li.small{
    flex-basis: 40%;
}

.conheca .grid li.large{
    flex-basis: 60%;
}